**/.git
**/.vs
**/bin
**/obj
**/artifacts
**/logs
**/*.log
**/*.tmp
**/*.suo
**/*.user
**/packages
**/Data
**/appsettings.Development.json
**/.gitignore
**/README.md
**/ejemplos-postman.txt
**/*.session.sql
**/*.http
**/docker-compose*.yml
**/Dockerfile
**/.dockerignore
